<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-lg-4">
			<h1>Academies</h1>

			<a class="btn btn-success largeBtn" href="<%= new_academy_path %>" role="button">Add new academy </a>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>Academies</th>
					</tr>
				</thead>
				<% @academies.each do |academy| %>
				<div class="row">
					<tr>
						<th><%= academy.name %></th>
						<th>
							<td><%= link_to 'Edit', edit_academy_path(academy) %> </td>

					<td> <%= link_to 'Destroy', academy, method: :delete, data: { confirm: 'Are you sure?' } %>	
					</td>
						</th>
					</tr>
				</div>			
				<% end %>
			</table>
	  </div>
  </div>
</div>